# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Environments
.env
.venv

# Node
node_modules/

# Logs
*.log

# IDEs
.vscode/
.idea/

# Misc
.DS_Store
*.swp

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

#development
.devcontainer
.github